/************************** 
*  Import style
***************************/

@import "../helpers/variabls.scss";
@import "../helpers/mixins.scss";

/************************** 
*  Cursor 
***************************/

#cursor {
    backface-visibility: hidden;
    z-index: 1000000000;
    position: fixed;
    width: 40px;
    height: 40px;
    border: 2px solid white;
    transition: .1s;
    pointer-events: none;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 100ms;
    transition-timing-function: ease-out;
    @include borderRadius(50%);
    &::before {
        content: '';
        position: absolute;
        height: 7px;
        width: 7px;
        background-color: $mainbgthre;
        @include borderRadius(100%)
    }
}